%h1 Search for: #{@search_term}
%br
%br


%div
  .job-listings-div{style: "height: 600px; overflow: scroll;"}
    %table.table.jobs-table
      %tr
        %th Title
        %th Categories
        %th Summary
      %tr
        %td= link_to "Java Developer", "/home/job_show"
        %td Consumer Digital Technology
        %td As a Senior Java Application Engineer, you’ll be working on initiatives to design and build world class global retail planning solutions. You will partner closely with technology leads, architects, and systems analysts to identify, design, and build technologies that support key planning solutions including Inventory Management and Assortment Planning. You will work with many different teams within Consumer Digital Technology and across the entire Nike Technology landscape to integrate applications seamlessly using multiple integration patterns, including taking a service based approach to integration.
      - @jobs.each do |job|
        %tr
          %td= link_to job[:title], "/home/job_show"
          - if job[:categories].is_a?(Array)
            %td= job[:categories].join(", ")
          - else
            %td= job[:categories]
          %td= job[:summary].html_safe
