%h1 Search for: #{@params[:search_term]}
%br
%br

%table.table.table-hover.table-striped
  %tr
    %th Title
    %th Categories
    %th Summary
  %tr
    %td= link_to "Ruby Developer", "/home/job_show"
    %td Consumer Digital Technology
    %td Blah blah blah
  - @jobs.each do |job|
    %tr
      %td= job[:title]
      %td= job[:categories]
      %td= job[:summary].html_safe
